*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App{
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
  background: #edeef1;
  letter-spacing: 1.3PX;
  background-color:#B1BCE6 ;

}
.container{
  width: 100%;
  max-width: 480px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  
}
h1{
  margin: 10px;
  text-align: center;
}
.accordion{
  background-color: aqua;
}
.accordionHeading{
  background-color: blueviolet;
}
.container{
  background-color: bisque;
}